table,
td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

table {
  margin: 15px auto;
}

td {
  cursor: pointer;
  height: 10px;
  width: 10px;
}

#game-container {
  overflow: hidden;
}

.life-container td:hover {
  background-color:lightgrey;
}

.bottom {
  text-align: center;
}

.alive {
  background-color: #BA68C8;
}

.pattern {
  border: 1px solid lightgrey;
  float: left;
  margin-right: 5px;
  padding: 5px;
}