table, td{
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
table{
  margin: 15px auto;
}
td{
  cursor: pointer;
  width:10px;
  height:10px;
}
td:hover{
  background-color:lightgrey;
}
.bottom{
  text-align: center;
}
.alive{
  background-color:lightgreen;
}